*{
  font-family: roboto;
}
header{
  height:80vh;
  background-image: url("img/camera.jpg");
  background-position: center;
  background-size:cover;
  color:#FFFFFF;
}
/* .social{
  margin-bottom:0px;
} */
.social img{
  height:32px;
  
}