*{
  font-family: roboto;
}
header{
  height:80vh;
  background-image: url("img/camera.jpg");
  background-position: center;
  background-size:cover;
  color:#FFFFFF;
}
.heading{
  padding-top:15%;
  padding-left:150px;
  
}
.social img{
  height:32px;
  padding-top:5%;
  padding-right:16px;
  
}
